
@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>
<div class="alert alert-warning" id="previous">
    <strong>Confirm Your Account</strong>
    @*<input type="submit" class="btn btn-danger" value="Confirm" onclick="verified()" />*@
    @Ajax.ActionLink("Confirm", "RegisterConfirm", "Account", new { regId = ViewBag.regID }, null, new { @class = "btn btn-light" });
</div>
@*<div class="alert alert-success" id="after" style="display:none">
        <strong><i class="fas fa-check-circle" style="color:green"></i>Your Account is Active now</strong>
    </div>*@
@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @*<script>
        function verified() {
            $.ajax({
                type:"post",
                url:"/Account/RegisterConfirm",
                data: { 'regId': '@ViewBag.regID' },
                success: function (msg) {
                    $("#previous").hide();
                    $("#after").show();
                    alert(msg);
                }
                })
        </script>*@



}